@import "tailwindcss";

:root {
  --background: #EFECE6;
  --foreground: #111111;
  --panel-cream: #FFFFFF;
  --panel-cream-dark: #E6E2D8;
  --panel-dark: #111111;
  --panel-dark-border: #1F242D;
  --accent-yellow: #F5C842;
  --accent-red: #EF4444;
  --accent-blue: #0284C7;
  --accent-kota: #D97706;
  --accent-green: #10B981;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow-x: hidden;
}

/* Custom Scrollbar for Classified Terminal Feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #E6E2D8;
}
::-webkit-scrollbar-thumb {
  background: #94A3B8;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

/* Leaflet Container styling for OpenStreetMap */
.leaflet-container {
  background: #EFECE6 !important;
  font-family: inherit !important;
}

.leaflet-popup-content-wrapper {
  background: #FFFFFF !important;
  color: #111111 !important;
  border: 2px solid #111111 !important;
  border-radius: 4px !important;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1) !important;
}

.leaflet-popup-tip {
  background: #FFFFFF !important;
  border: 1px solid #111111 !important;
}

/* Tactical Neo-Brutalist Box Shadow Utility */
.shadow-brutal {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

.shadow-brutal-lg {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
